/* GALLERY */
:root {
  --section-padding-vertical: 1rem;
  --img-padding: 0.3rem; }

.page-header {
  display: flex;
  flex-direction: column; }

.page-header__landing {
  flex: 0 0 100%;
  align-content: space-between;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: row-reverse;
  background-image: url("../pics/training_arms_blonde_workout_1542x1024.jpg");
  background-size: 100% 100%;
  min-height: 66vw; }

.page-header__heading {
  color: var(--color-base);
  font-size: 3rem;
  text-align: center;
  flex: 1 1 100%; }

.page-header__content {
  height: 7.3rem;
  font-size: 1.4rem;
  padding-top: 2rem; }

@media only screen and (min-width: 820px) {
  .page-header__landing {
    min-height: 540px; } }

@media only screen and (max-width: 500px) {
  .page-header__heading {
    color: var(--color-base);
    font-size: 1.8rem;
    text-align: center;
    height: 7.3rem;
    flex: 1 1 100%; }
  .page-header__content {
    font-size: 1rem; } }

@media only screen and (max-width: 330px) {
  .page-header__content {
    padding-top: 0px; } }

/* MAIN */
.main {
  padding-bottom: 2rem; }

/* GALLERY */
.gallery {
  padding: 1rem 0; }

.gallery__tiles {
  display: flex;
  flex-wrap: wrap; }

.gallery__tile {
  --tile-width: 160px;
  --tile-width: 160px;
  flex: 0 0 var(--tile-width);
  height: 106.656px;
  padding: var(--img-padding);
  border: none; }

@media only screen and (max-width: 520px) {
  .gallery__tile {
    --tile-width: 20vw; } }

.gallery__tile:hover {
  border: 2px solid var(--color-base);
  border-radius: 0; }

.gallery__tile--active {
  border: 1px solid #FAA06B;
  border: 1px solid var(--color-sec);
  border-radius: 2px; }

.gallery__pic {
  width: 100%; }

.tile:not(.active) > img:hover {
  border: 2px solid var(--color-base); }

.bigpic {
  width: 100%; }

img.bigpic-pic {
  width: 100%;
  object-fit: fill;
  padding: var(--img-padding); }

/* ELEMENTS */
nav, main, footer, aside, ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.5rem; }

h3 {
  text-align: center;
  width: 100%;
  padding: 1rem; }

/* elements MEDIA */
/* CLASSES */
.flexspacer {
  flex: 100; }

/*section, header nav {
	border-bottom: 1px solid var(--color-bgr);
}*/
/* SPECIFIC ELEMENTS */
.menu {
  display: flex; }

.menu__item {
  min-width: 5em;
  text-align: center;
  padding: 0.7em 0; }

/* header nav */
/*header .nav.item, header ul.nav li  {
	min-width: 5em;
	text-align: center;
	padding: 0.7em 0;
}*/
header ul.nav li {
  font-weight: bold; }

nav img.logo {
  width: 40px; }

nav img.avatar {
  display: none; }

.icon.burgermenu {
  display: none;
  width: 2.5rem; }

div.menu.dropdown {
  position: relative; }

div.menu.dropdown ul {
  display: none;
  flex-direction: column;
  position: absolute;
  right: 0px;
  top: 0px;
  border: 1px solid; }

div.menu.dropdown:hover ul {
  display: flex; }

div.dropdown ul.nav.dropdown li {
  display: block; }

header ul.nav li {
  border-bottom: 4px solid rgba(0, 0, 0, 0); }

nav ul.nav li.active, nav .item.active {
  border-bottom: 4px solid var(--color-sec);
  border-radius: 2px;
  /*color: var(--color-sec);*/ }

@media only screen and (max-width: 400px) {
  nav ul.nav li:not(.logo) {
    display: none; }
  .icon.burgermenu {
    display: inherit; } }

/* main section.columns */
section.columns {
  justify-content: space-around;
  align-items: stretch;
  padding-bottom: 3rem; }

section.columns > article:nth-child(2) {
  border-left: 1px solid var(--color-bgr);
  border-right: 1px solid var(--color-bgr); }

section.columns > article {
  /*background-color: teal;*/
  /*border: 1px solid teal;*/
  flex: 0 0 33%;
  padding: 0 1.5%; }

section.columns h4 {
  padding-bottom: 1rem;
  text-align: center;
  margin-top: 1rem; }

@media (max-width: 650px) {
  section.columns > article {
    flex: 0 0 47%; } }

@media (min-width: 0px) and (max-width: 520px) {
  section.columns > article {
    flex: 0 0 94%; } }

/* footer */
footer {
  flex-wrap: nowrap;
  justify-content: space-around; }

footer nav ul.nav li {
  display: block;
  min-width: initial;
  font-size: 0.7rem; }

footer > * {
  flex: 0 0 165px; }

footer > nav, footer > nav ul, footer > div {
  flex-direction: column; }

.footer.marks {
  align-self: stretch;
  justify-content: space-around; }

/* footer @media */
@media only screen and (max-width: 500px) {
  footer > *:not(.contact) {
    display: none; } }
