@import "variables";

:root {
	--section-padding-vertical: #{$section-padding-vertical};
	--img-padding: 0.3rem;
}

// PAGE-HEADER
.page-header {
	display: flex;
	flex-direction: column;


	&__landing {
		flex: 0 0 100%;
		align-content: space-between;
		align-items: flex-end;
		justify-content: space-around;
		flex-direction: row-reverse;
		background-image: url("../pics/training_arms_blonde_workout_1542x1024.jpg");
		background-size: 100% 100%;
		min-height: 66vw;}

	&__heading {
		color: var(--color-base);
		font-size: 3rem;
		text-align: center;
		flex:1 1 100%;}

	&__content {
		height: 7.3rem;
		font-size: 1.4rem;
		padding-top: 2rem;}

	@media only screen and (min-width: 820px) {
		&__landing {
			min-height: 540px;}
		}

	@media only screen and (max-width: 500px) {
		&__heading {
			color: var(--color-base);
			font-size: 1.8rem;
			text-align: center;
			height: 7.3rem;
			flex:1 1 100%;}

		&__content {
			font-size: 1rem;}
		}

	@media only screen and (max-width:330px) {
		&__content {
			padding-top: 0px;}
	}

}


/* MAIN */
.main {
	padding-bottom: 2rem;
}


/* GALLERY */

.gallery {
	padding: $section-padding-vertical 0;

	&__tiles {
		display: flex;
		flex-wrap: wrap;

	} 
	&__tile {
		--tile-width: 160px;
		--tile-width: #{$tile-width};
		flex: 0 0 var(--tile-width);
		height: $tile-width*0.6666; 
		padding: var(--img-padding);
		border: none;
	}
	@media only screen and (max-width: 520px) {
		&__tile {
			--tile-width: 20vw;
		}	
	}
	&__tile:hover {
		border: 2px solid var(--color-base);
		border-radius: 0;
	}
	&__tile--active {
		border: 1px solid $color-sec;
		border: 1px solid var(--color-sec);
		border-radius: 2px;
	}

	&__pic {
		width: 100%;
	}


}


.tile:not(.active) > img:hover {
	border: 2px solid var(--color-base);
} 

.bigpic {
	width: 100%;
}
img.bigpic-pic {
	width: 100%;
	object-fit: fill;
	padding: var(--img-padding);
}


/* ELEMENTS */


nav, main, footer, aside, ul {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	padding: 0.5rem;	
}



h3 {
	text-align: center;
	width: 100%;
	padding: 1rem;
}

/* elements MEDIA */


/* CLASSES */

.flexspacer {
	flex:100;
}


/* SPECIFIC ELEMENTS */

.menu {
	$self: &;
	display: flex;
	list-style: none;
	background-color: $color-bgr;

	&__item {
		color: var(--color-base);
		cursor: pointer;
		min-width: 5em;
		text-align: center;
		padding: 0.7em 0;
		font-weight: bold;
		border-bottom: 4px solid transparent;
	
		&--active {
			border-bottom: 4px solid var(--color-sec);
		}
	}

	&--column {
		flex-direction: column;
	}

	&--modest {
		background-color: inherit;

		#{ $self }__item {
			font-weight: normal;
			padding: 0.2em 0;
			border-bottom:none;
			font-size: 0.5em;
		} 
	}

}


/* header nav */


nav img.logo {
	width: 40px;
}
nav img.avatar {
	display: none;
}

.dropdown__show {
	width: 2.5rem;
}



div.menu.dropdown {
	position: relative;
}
div.menu.dropdown ul{
	display:none;
	position:absolute;
	right:0px;
	top:0px;
	border: 1px solid;

}
.dropdown {
	position:relative
}

.dropdown__body {
	display:none; 
	position:absolute;
	right:0px;
	top:0px;
	border: 1px solid;
}

.dropdown:hover .dropdown__body{
	display:flex;
}


div.dropdown ul.nav.dropdown li {
	display: block;
}


/* main section.columns */

section.columns {
	justify-content: space-around;
	align-items: stretch;
	padding-bottom: 3rem;
}
section.columns > article:nth-child(2) {
	border-left: 1px solid var(--color-bgr);
	border-right: 1px solid var(--color-bgr);
}
section.columns > article {
	/*background-color: teal;*/
	/*border: 1px solid teal;*/
	flex: 0 0 33%;
	padding: 0 1.5%	;
}
section.columns h4 {
	padding-bottom: 1rem;
	text-align: center;
	margin-top:1rem;
}

@media (max-width: 650px) {
	section.columns > article {
		flex: 0 0 47%;
	}
} 
@media (min-width:0px) AND (max-width: 520px) {
	section.columns > article {
		flex: 0 0 94%;
	}
} 


/* footer */

footer {
	flex-wrap: nowrap;
	justify-content: space-around;
}
footer nav ul.nav li {
	display: block;
	min-width: initial;
	font-size: 0.7rem;
}

footer > * {
	flex: 0 0 165px;
}
footer > nav, footer > nav ul, footer > div{
	flex-direction:column;
}


.footer.marks {
	align-self: stretch;
	justify-content: space-around;
}

/* footer @media */

@media only screen and (max-width: 500px) {
	footer > *:not(.contact) {
		display: none;
	}
}



